
//For Langding Page
//Cover Center
.cover-center {
	display: block;
	width: 1280px;
	margin: 0 auto;
	position: relative;
	z-index: 100;
}
// Super Ideal
.super-ideal {
	display: block;
	width: 100%;
	height: 801px;
	position: relative;
	//Price
	.price-right {
		display: block;
		width: 112px;
		height: 114px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 13;
		img {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	.image-under {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		//Class 01
		.bg-class01 {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 3;
		  background-image: -webkit-linear-gradient(305deg, rgb(4,13,51) 0%, rgb(5,34,81) 0%, rgb(5,13,45) 99%);
		  background-image: -o-linear-gradient(305deg, rgb(4,13,51) 0%, rgb(5,34,81) 0%, rgb(5,13,45) 99%);
		  background-image: linear-gradient(35deg, rgb(4,13,51) 0%, rgb(5,34,81) 0%, rgb(5,13,45) 99%);
		}
		
		//Class 02
		.bg-class02 {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 5;
			background:url(../i/web/bg-class2.png) no-repeat;
			background-position: center center;
			background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			opacity: 0.1;
		}
		//Class 03
		.bg-class03 {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 4;
			background:url(../i/web/bg-class1.png) no-repeat;
			background-position: center center;
			background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			opacity: 0.15;
		}
		//class 04
		.bg-class04 {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 6;
			background:url(../i/web/pat.png);
			opacity: 0.03;
		}
	}

	.point-right {
		display: block;
		position: absolute;
		top:258px;
		right: 20px;
		z-index: 11;
		ul {
			display: block;
			width: 8px;
			li {
				display: block;
				width: 8px;
				height: 8px;
				@include circle();
				border: 1px solid rgb(241, 241, 241);
				margin-bottom: 11px;
				position: relative;
				&.active {
					background:#f1c40f;
					border: none;
				}
				&:hover {
					background:#f1c40f;
					border: none;
				}
				a {
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}
	.above-content {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 11;
		.desv-header {
			display: block;
			width: 100%;
			position: relative;
			//logo
			.logo {
				display: block;
				float: left;
				width: 159px;
				height: 34px;
				margin-left: 52px;
				margin-top: 24px;
				img {
					display: block;
					width: 100%;
					height: 100%;
				}
			}
			//Desv Navigation
			.desv-nav {
				float: right;
				width: 544px;
				padding-top: 31px;
				ul {
					float: left;
					li {
						float: left;
						padding: 0 1px;
						margin-right: 30px;
						a {
							display: block;
							font-size: 12px;
							color: rgba(255,255,255,0.5);
							text-transform: uppercase;
						}
						//active
						&.active {
							position: relative;
							a {
								color: #fff;
							}
							&:before {
								display: block;
								content: '';
								width: 100%;
								height: 2px;
								background:#f1c40f;
								position: absolute;
								bottom: -10px;
								left: 0;
							}
						}
					}
				}
			}
		}
		//Left Social
		.left-social {
				display: block;
				position: absolute;
				left: 52px;
				top: 95px;
				ul {
					display: block;
					li {
						display: block;
						width: 22px;
						height: 25px;
						margin-bottom: 7px;
						a {
							display: block;
							width: 100%;
							height: 100%;
							img {
								display: block;
								width: 100%;
								height: 100%;
							}
						}
					}
				}
		}
		//Ideal Art
		.ideal-art {
			display: block;
			text-align: center;
			width: 307px;
			height: auto;
			margin: 0 auto;
			margin-top: 239px;
			img {
				display: block;
				width: 307px;
				height: 83px;
			}
			.text-art {
				display: block;
				width: 100%;
				text-align: center;
				color: #fff;
				font-size: 50px;
				font-weight: 300;
				text-transform: uppercase;
				margin-top: 25px;
			}
		}
		//Service Header
		.service-header {
			display: block;
			width: 100%;
			position: relative;
			.title {
				display: block;
				width: 100%;
				text-align: center;
				font-weight: bold;
				font-size: 30px;
				color: #fff;
				margin-top: 59px;

			}
			.list-ser {
				display: block;
				width: 100%;
				height: 236px;
				position: relative;
				padding: 0 51px;
				padding-top: 21px;
				li {
					float: left;
					width: 276px;
					height: 236px;
					margin-right: 24px;
					position: relative;
					//icons
					.icons {
						display: block;
						margin: 0 auto;
						width: 47px;
						height: 47px;
						background-position: 0 0;
						margin-top: 39px;
						margin-bottom: 23px;
					}
					//title
					.title-box {
						font-size: 16px;
						color: #fff;
						text-align: center;
						text-transform: uppercase;
						margin-bottom: 12px;
					}
					//detail
					.detail-box {
						font-size: 16px;
						color: #fff;
						line-height: 25px;
						text-align: center;
						padding: 0 25px;
					}
					// Color House
					.color-house {
						display: block;
						width: 100%;
						height:100%;
						position: absolute;
						z-index: 2;
						.one-here {
							display: block;
							width: 100%;
							height: 79px;
							position: relative;
							&:before {
								content: '';
								display: block;
								width: 0; 
							  height: 0; 
							  border-left: 138px solid transparent;
							  border-right: 138px solid transparent;
							  border-bottom: 79px solid rgba(0, 255, 116,0.5);
							}
						}
						.two-here {
							display: block;
							width: 100%;
							height: 157px;
							background:rgba(0, 255, 116,0.5);
						}
					}
					
					//One
					&.one {
					
					}
					// two
					&.two {
						//icons
						.icons {
							display: block;
							width: 51px;
							height: 47px;
							background-position: -61px 0;
						}
						//Color House
						.color-house {
							.one-here {
								&:before {
								  border-bottom: 79px solid rgba(240, 197, 20,0.5);
								}
							}
							.two-here {
								background:rgba(240, 197, 20,0.5);
							}
						}
					}
					//three
					&.three {
						//icons
						.icons {
							display: block;
							width: 51px;
							height: 47px;
							background-position: -120px 0;
						}
						//Color House
						.color-house {
							.one-here {
								&:before {
								  border-bottom: 79px solid rgba(0, 212, 255,0.5);
								}
							}
							.two-here {
								background:rgba(0, 212, 255,0.5);
							}
						}
					}
					// Four
					&.four {
						//icons
						.icons {
							display: block;
							width: 46px;
							height: 47px;
							background-position: -180px 0;
						}
						margin-right: 0;
						//Color House
						.color-house {
							.one-here {
								&:before {
								  border-bottom: 79px solid rgba(162, 92, 255,0.5);
								}
							}
							.two-here {
								background:rgba(162, 92, 255,0.5);
							}
						}
					}
				}
			}
		}
	}
}


// Desv Project
.desv-project {
	display: block;
	width: 100%;
	height: 1128px;
	position: relative;
	background-image: -moz-linear-gradient( -35deg, rgb(73,160,219) 0%, rgb(73,86,222) 99%);
	background-image: -webkit-linear-gradient( -35deg, rgb(73,160,219) 0%, rgb(73,86,222) 99%);
	background-image: -ms-linear-gradient( -35deg, rgb(73,160,219) 0%, rgb(73,86,222) 99%);
	//Double Title
	.double-title {
		display: block;
		width: 100%;
		text-align: center;
		position: relative;
		padding-top: 70px;
		//One
		.one {
			display: block;
			font-size: 71.55px;
  		color: rgba(0, 0, 1, 0.302);
  		text-transform: uppercase;
  		font-weight: bold;
		}
		.two {
			display: block;
			width: 100%;
			font-size: 30px;
			color: #fff;
			text-transform: uppercase;
			position: absolute;
			bottom: 5px;
			text-align: center;
			font-weight: bold;

		}
	}
	//Navigation Slider
	.navigation-slider {
		padding-top: 34px;
		margin-bottom: 49px;
		ul {
			float: left;
			li {
				float: left;
				padding: 0 1px;
				margin-right: 30px;
				a {
					display: block;
					font-size: 12px;
					color: rgba(255,255,255,0.5);
				}
				//active
				&.active {
					position: relative;
					a {
						color: #fff;
					}
					&:before {
						display: block;
						content: '';
						width: 100%;
						height: 2px;
						background:#f1c40f;
						position: absolute;
						bottom: -10px;
						left: 0;
					}
				}
			}
		}
	}
	// Cover Silider
	.cover-slider {
		display: block;
		width: 1185px;
		height: 852px;
		margin: 0 auto;
		position: relative;
		// Each Item
		.item-each {
			display: block;
			width: 391px;
			height: 417px;
			overflow: hidden;
			background:url(../i/web/square02.png);
			float: left;
			@include ver();
			justify-content: center;
			margin-bottom: 9px;
			position: relative;
			&.two{
				margin: 0 6px;
			}
			.img {
				display: block;
				width: 333px;
				height: 360px;
				overflow: hidden;
			}
			.cover-link {
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 10;
			}
			.yellow-active {
				display: block;
				width: 333px;
				height: 360px;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -166.5px;
				margin-top: -180px;
				background:#f0c514;
				z-index: 11;
				@include ver();
				justify-content: center;
				.center-yellow {
					.title {
						display: block;
						text-align: center;
						font-size: 21.85px;
						color: #ffffff;
						font-weight: bold;
						text-transform: uppercase;
						margin-bottom: 12px;
						padding: 0 10px;
						line-height: 1.2;
					}
					.detail {
						display: block;
						text-align: center;
						font-size: 17.48px;
						color: #ffffff;
						margin-bottom: 21px;
						padding: 0 10px;
						line-height: 1.2;
					}
					.view-more {
						display: block;
						width: 178px;
						height: 53px;
						background: url(../i/web/square.png);
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-align: center;
						-ms-flex-align: center;
						align-items: center;
						justify-content: center;
						font-size: 14px;
						color: #ffffff;
						font-weight: 300;
						margin: 0 auto;
					}
				}
			}
		}
		// Next
		.next-arrow {
			display: block;
			position: absolute;
			right: -31px;
			top: 50%;
			margin-top: -20px;
			.icons {
				display: block;
				width: 22px;
				height: 40px;
				background-position: -282px 0;
			}
		}
		// Next
		.pre-arrow {
			display: block;
			position: absolute;
			left: -31px;
			top: 50%;
			margin-top: -20px;
			.icons {
				display: block;
				width: 22px;
				height: 40px;
				background-position: -240px 0;
			}
		}
	}
}

//Client
.desv-project.client {
	height: 800px;
	background-image: -moz-linear-gradient( -35deg, rgb(170,73,222) 0%, rgb(74,84,222) 100%);
	background-image: -webkit-linear-gradient( -35deg, rgb(170,73,222) 0%, rgb(74,84,222) 100%);
	background-image: -ms-linear-gradient( -35deg, rgb(170,73,222) 0%, rgb(74,84,222) 100%);
	.dot-bg {
		display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    background: url(../i/web/pat.png);
    opacity: 0.03;
	}
	//People 
	.people-say {
		display: block;
		width: 100%;
		padding: 0 130px;
		padding-top: 85px;
		position: relative;
		.say {
			display: block;
			width: 100%;
			position: relative;
			span {
				font-size: 20px;
				line-height: 60px;
				font-style: italic;
			}
			i {
				display: block;
				height: 50px;
				font-size: 118px;
				position: absolute;
				left: -85px;
				top: 0;
				&.two {
					left: auto;
					top: auto;
					bottom: 0;
					right: -85px;
					transform: rotate(180deg);
					-webkit-transform: rotate(180deg);
					-moz-transform: rotate(180deg);
				}
			}
		}
	}
	//list People
	.list-people {
		display: block;
		width: 100%;
		position: relative;
		ul {
			float: left;
			width: 100%;
			margin-top: 92px;
			&:before {
				display: block;
				content: '';
				width: 1080px;
				height: 16px;
				margin: 0 auto;
				background:url(../i/web/line.png) no-repeat;
			}
			li {
				float: left;
				width: 20%;
				text-align: center;
				position: relative;
				margin-top: 39px;
				a {
					display: block;
					width: 100%;
					height: 100%;
					img {
						display: block;
						margin: 0 auto;
						width: 89px;
						height: 102px;
					}
					.name {
						display: block;
						font-size: 18px;
						color: #f1c40f;
						text-transform: uppercase;
						margin-top: 15px;
					}
					.detail {
						display: block;
						font-size: 12px;
						color: #00dcff;
						margin-top: 12px;
						.name-com {
							display: block;
							font-size: 12px;
							color: #00dcff;
							text-align: center;
							margin-top: 4px;
						}
					}
				}
			}
		}
	}
}

// Blog
.desv-project.blog {
	height: 800px;
	background-image: -moz-linear-gradient( -35deg, rgb(73,160,219) 0%, rgb(73,86,222) 99%);
  background-image: -webkit-linear-gradient( -35deg, rgb(73,160,219) 0%, rgb(73,86,222) 99%);
  background-image: -ms-linear-gradient( -35deg, rgb(73,160,219) 0%, rgb(73,86,222) 99%);
	.dot-bg {
		display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    background: url(../i/web/pat.png);
    opacity: 0.03;
	}
	// List Blog
	.list-blog {
		display: block;
		width: 1118px;
		margin: 0 auto;
		padding-top: 43px;
		overflow: hidden;
		// each Item
		li {
			float: left;
			width: 33.33%;
			height: 572px;
			position: relative;
			img {
				display: block;
				width: 244px;
				height: 274px;
				margin: 0 auto;
			}
			.title-yellow {
				display: block;
				font-size: 20px;
				font-weight: 300;
				color: #f1c40f;
				line-height: 30px;
				text-transform: uppercase;
				padding: 0 62px;
				margin-top: 31px;
			}
			.title-white {
				display: block;
				font-size: 16px;
				font-weight: bold;
				padding-left: 61px;
				margin-top: 10px;
			}
			.detail {
				display: block;
				font-size: 16px;
				font-weight: 300;
				font-style: italic;
				padding-left: 59px;
				line-height: 30px;
				margin-top: 9px;
				padding-right: 56px;
			}
			.view-more {
				display: block;
				width: 178px;
				height: 53px;
				background:url(../i/web/square.png);
				@include ver();
				justify-content: center;
				font-size: 14px;
				color: #ffffff;
				font-weight: 300;
				position: absolute;
				left: 50%;
				margin-left: -89px;
				bottom: 0;
				&.active {
					.yellow-acitve {
						display: block;
						width: 157px;
						height: 37px;
  					background-color: rgb(241, 196, 15);
  					@include ver();
  					justify-content: center;
					}
				}
				
			}
		}
	}
}




// Tech
.desv-project.tech {
	background-image: -moz-linear-gradient( -35deg, rgb(170,73,222) 0%, rgb(74,84,222) 100%);
  background-image: -webkit-linear-gradient( -35deg, rgb(170,73,222) 0%, rgb(74,84,222) 100%);
  background-image: -ms-linear-gradient( -35deg, rgb(170,73,222) 0%, rgb(74,84,222) 100%);
	height: 800px;
	//Doulble Title
  .double-title {	
  	margin-bottom: 196px;
  }
  //logo Desv
  .Logo-desv {
		display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    img {
    	position: absolute;
    	top: 200px;
    	left: 50%;
    	margin-left: -413px;
    	width: 826px;
    	height: 506px;
    	opacity: 0.05;
    }
	}
	//list tech
	.list-tech {
		display: block;
		width: 1065px;
		margin: 0 auto;
		overflow: hidden;
		display: flex;
		justify-content: center;
		margin-bottom: 68px;
		li {
			float: left;
			width: 100px;
			height: 100px;
			background:#fff;
			@include circle();
			@include ver();
			justify-content: center;
			margin-right: 93px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}


//Footer
.footer-desv {
	display: block;
	width: 100%;
	height: 239px;
	position: relative;
	padding-top: 56px;
	z-index: 15;
	// For Bg
	.map-bg {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background:url(../i/web/map.png) no-repeat;
		background-position: center center;
		z-index: 10;
	}
	.dot-bg {
		display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    background: url(../i/web/pat.png);
    opacity: 0.03;
	}
	.bg-color {
		display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: -moz-linear-gradient( -35deg, rgb(4,13,51) 0%, rgb(5,34,81) 0%, rgb(5,13,45) 99%);
	  background-image: -webkit-linear-gradient( -35deg, rgb(4,13,51) 0%, rgb(5,34,81) 0%, rgb(5,13,45) 99%);
	  background-image: -ms-linear-gradient( -35deg, rgb(4,13,51) 0%, rgb(5,34,81) 0%, rgb(5,13,45) 99%);
	  opacity: 0.851;
	}
	//link
	.link {
		float: left;
		width: 33.33%;
		text-align: center;
		font-size: 35px;
		color: #51c8eb;
		font-weight: bold;
		padding-left: 39px;
	}
	//phone
	.phone {
		float: left;
		width: 33.33%;
		text-align: center;
		font-size: 35px;
		color: #f0c419;
		font-weight: 300;
		padding-left: 47px;
	}
	// address
	.address {
		float: left;
		width: 33.33%;
		font-size: 18px;
		line-height: 22px;
		color: #fff;
		font-weight: 300;
    padding-left: 114px;
    padding-right: 30px;
	}
	//logo
	.logo {
		display: block;
		width: 165px;
		height: 34px;
		margin: 0 auto;
		margin-top: 30px;
		img {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	.text-last {
		display: block;
		text-align: center;
		font-weight: 300;
		color: #fff;
		font-size: 16px;
		margin-top: 18px;
	}
}

.contact-us {
	display: block;
	width: 100%;
	height: 801px;
	background-color: rgba(34, 42, 70 ,  0.902);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	.dot-bg {
		display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    background: url(../i/web/pat.png);
    opacity: 0.03;
	}
	// Double Title
	.double-title {
		display: block;
		width: 100%;
		text-align: center;
		position: relative;
		padding-top: 70px;
		//One
		.one {
			display: block;
			font-size: 71.55px;
  		color: rgba(0, 0, 1, 0.302);
  		text-transform: uppercase;
  		font-weight: bold;
		}
		.two {
			display: block;
			width: 100%;
			font-size: 30px;
			color: #fff;
			text-transform: uppercase;
			position: absolute;
			bottom: 5px;
			text-align: center;
			font-weight: bold;

		}
	}
	// Group Input All
	.group-input-all {
		display: block;
		width: 700px;
		margin: 0 auto;
		padding-top: 40px;
		//Group Left
		.group-left {
			float: left;
			width: 257px;
			//Input Here
			.input-here {
				display: block;
				width: 100%;
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
				.label-input {
					display: block;
					width: 100%;
					font-size: 16px;
					color: #fff;
					font-weight: 300;
			    margin-bottom: 5px;
				}
			}
			.cover-input {
				display: block;
				width: 100%;
				height: 53px;
				background:url(../i/web/input.png);
				position: relative;
				@include ver();
				input {
					display: block;
					width: 100%;
					padding-left: 55px;
					padding-right: 30px;
				}
				&.name {
					.icons {
						display: block;
						width: 19px;
						height: 19px;
						background-position: -160px -97px;
						position: absolute;
						top: 17px;
						left: 27px;
					}
				}
				&.mail {
					.icons {
						display: block;
						width: 29px;
						height: 18px;
						background-position: -120px -98px;
						position: absolute;
						top: 17px;
						left: 20px;
					}
				}
				&.company {
					.icons {
						display: block;
						width: 18px;
						height: 24px;
						background-position: -90px -92px;
						position: absolute;
						top: 14.5px;
						left: 24px;
					}
				}
				&.phone {
					.icons {
						display: block;
						width: 28px;
						height: 22px;
						background-position: -50px -94px;
						position: absolute;
						top: 15.5px;
						left: 22px;
					}				
				}
			}
		}
		.group-right {
			float: right;
			width: calc( 100% - 307px );
			//Input
			.input-here {
				display: block;
				width: 100%;
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
				.label-input {
					display: block;
					width: 100%;
					font-size: 16px;
					color: #fff;
					font-weight: 300;
			    margin-bottom: 5px;
				}
				.cover-input {
					display: block;
					width: 100%;
					height: 53px;
					position: relative;
					@include ver();
					&.textarea {
						height: 244px;
						background:url(../i/web/textarea.png);
						textarea {
							display: block;
							width: 100%;
							height: 100%;
							background:transparent;
							border: none;
							padding-left: 25px;
							padding-top: 20px;
							padding-right: 30px;
							resize:none;
							line-height: 1.2;
						}
					}
					&.input-long {
						background:url(../i/web/long-input.png);
					}
					input {
						display: block;
						width: 100%;
						padding-left: 25px;
						padding-right: 30px;
					}
				}
			}
		}
	}
	//What You Want
	.what-you-want {
		display: block;
		width: 100%;
		position: relative;
		margin: 0 auto;
		.title {
			display: block;
			font-weight: 300;
			margin-top: 12px;
			margin-bottom: 10px;
		}
		//List Tick
		.list-tick {
			display: block;
			width: 100%;
			position: relative;
			li {
				float: left;
				height: 30px;
				width: 25%;
				@include ver();
				padding-left: 7px;
				//Tich Me
				.tick-me {
					display: block;
					cursor: pointer;
					position: relative;
				}
					.tick-me span {
						display: block;
						font-size: 16px;
						font-weight: 300;
						padding-left: 23px;
					}
					.tick-me::before, .tick-me::after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
					}
					.tick-me::before {
						display: block;
						width: 7px;
						height: 7px;
						background:url(../i/web/icons.png);
						background-position: -31px -131px;
						top: 50%;
						margin-top: -3.5px;
					}
					.tick-me::after {
						display: none;
						width: 30px;
						height: 30px;
						background:url(../i/web/icons.png);
						background-position: -2px -120px;
					}
					input:checked + .tick-me::after {
						display: block;
						top: -7px;
						left: -7px;
					}
					input:checked + .tick-me::before {
						display: none;
						top: 0px;
						left: 0px; 
					}
			}
		}
		//View More
		.view-more {
			display: block;
			width: 178px;
			height: 53px;
			background:url(../i/web/square.png);
			@include ver();
			justify-content: center;
			font-size: 14px;
			color: #ffffff;
			font-weight: 300;
			margin: 0 auto;
			margin-top: 37px;
			&.active {
				.yellow-acitve {
					display: block;
					width: 157px;
					height: 37px;
					background-color: rgb(241, 196, 15);
					@include ver();
					justify-content: center;
				}
			}
		}
	}
}



