<footer class="footer-desv">
	<div class="map-bg"></div>
	<div class="bg-color"></div>
	<div class="dot-bg"></div>
	<div class="cover-center">
		<a href="javascript:;" class="link">desvlab@outlook.com</a>
		<a href="javascript:;" class="phone">090 555 1881</a>
		<a href="javascript:;" class="address">17 Dao Trinh Nhat, Phuong Vy Da Hue City</a>
		<div class="clear"></div>
		<p class="logo">
			<img src="i/web/logo.png" alt="Logo">
		</p>
		<p class="text-last">
			@ 2017 DESVALB tất cả bản quyền được bảo vệ chính sách bảo mật
		</p>
	</div>
</footer>