<header class="desv-header">
	<a href="javascript:;" class="logo">
		<img src="i/web/logo.png" alt="logo">
	</a>
	<!-- Logo -->
	<nav class="desv-nav">
		<ul>
			<li class="active">
				<a href="javascript:;">trang chủ</a>
			</li>
			<li class="">
				<a href="javascript:;">sản phẩm</a>
			</li>
			<li class="">
				<a href="javascript:;">VỀ CHÚNG TÔI</a>
			</li>
			<li class="">
				<a href="javascript:;">blog</a>
			</li>
			<li class="">
				<a href="javascript:;">liên hệ</a>
			</li>
		</ul>
	</nav>
	<!-- NAV -->
	<div class="clear"></div>
</header>
<!-- Header -->