<div class="cover-slider">
	<div class="item-each">
		<div class="img">
			<img src="i/web/p1.png" alt="p1">
		</div>
		<a href="javascript:;" class="cover-link"></a>
		<!-- Click Here -->
		<div class="yellow-active hide">
			<div class="center-yellow">
				<p class="title">SG WINDOWS</p>
				<p class="detail">Công ty cửa nhôm Sg Windows</p>
				<a href="javascript:;" class="view-more">Xem thêm</a>
			</div>
		</div>
		<!-- Yellow Active -->
	</div>
	<!-- Each Item -->
	<div class="item-each two">
		<div class="img">
			<img src="i/web/p2.png" alt="p1">
		</div>
		<a href="javascript:;" class="cover-link"></a>
		<!-- Click Here -->
		<div class="yellow-active hide">
			<div class="center-yellow">
				<p class="title">SG WINDOWS</p>
				<p class="detail">Công ty cửa nhôm Sg Windows</p>
				<a href="javascript:;" class="view-more">Xem thêm</a>
			</div>
		</div>
		<!-- Yellow Active -->
	</div>
	<!-- Each Item -->
	<div class="item-each">
		<div class="img">
			<img src="i/web/p3.png" alt="p1">
		</div>
		<a href="javascript:;" class="cover-link"></a>
		<!-- Click Here -->
		<div class="yellow-active hide">
			<div class="center-yellow">
				<p class="title">SG WINDOWS</p>
				<p class="detail">Công ty cửa nhôm Sg Windows</p>
				<a href="javascript:;" class="view-more">Xem thêm</a>
			</div>
		</div>
		<!-- Yellow Active -->
	</div>
	<!-- Each Item -->
	<div class="item-each">
		<div class="img">
			<img src="i/web/p4.png" alt="p1">
		</div>
		<a href="javascript:;" class="cover-link"></a>
		<!-- Click Here -->
		<div class="yellow-active hide">
			<div class="center-yellow">
				<p class="title">SG WINDOWS</p>
				<p class="detail">Công ty cửa nhôm Sg Windows</p>
				<a href="javascript:;" class="view-more">Xem thêm</a>
			</div>
		</div>
		<!-- Yellow Active -->
	</div>
	<!-- Each Item -->
	<div class="item-each two">
		<div class="img">
			<img src="i/web/p5.png" alt="p1">
		</div>
		<a href="javascript:;" class="cover-link"></a>
		<!-- Click Here -->
		<div class="yellow-active hide">
			<div class="center-yellow">
				<p class="title">SG WINDOWS</p>
				<p class="detail">Công ty cửa nhôm Sg Windows</p>
				<a href="javascript:;" class="view-more">Xem thêm</a>
			</div>
		</div>
		<!-- Yellow Active -->
	</div>
	<!-- Each Item -->
	<div class="item-each">
		<div class="img">
			<img src="i/web/p6.png" alt="p1">
		</div>
		<a href="javascript:;" class="cover-link"></a>
		<!-- Click Here -->
		<div class="yellow-active hide">
			<div class="center-yellow">
				<p class="title">SG WINDOWS</p>
				<p class="detail">Công ty cửa nhôm Sg Windows</p>
				<a href="javascript:;" class="view-more">Xem thêm</a>
			</div>
		</div>
		<!-- Yellow Active -->
	</div>
	<!-- Each Item -->
	<a href="javascript:;" class="next-arrow">
		<i class="icons"></i>
	</a>
	<!-- Next Arrow -->
	<a href="javascript:;" class="pre-arrow">
		<i class="icons"></i>
	</a>
	<!-- Pre Arrow -->
</div>